{% extends "base.html" %}

{% block content %}

<div class="header">
  <h3 class="mb-3">🛠️ My SW Idea Manage</h3>

  <a href="{% url 'myIdeas:ideas_create' %}" class="btn idea_create_btn">
    아이디어 등록
  </a>
  <span class="header-divider">|</span>
  <a href="{% url 'myIdeas:ideas_list' %}" class="btn idea_update_btn" style="color: rgb(86, 146, 249);">
    아이디어 관리
  </a>
  <span class="header-divider">|</span>
  <a href="{% url 'myIdeas:devtool_create' %}" class="btn devtool_create_btn">
    개발툴 등록
  </a>
  <span class="header-divider">|</span>
  <a href="{% url 'myIdeas:devtool_list' %}" class="btn devtool_update_btn">
    개발툴 관리
  </a>
</div>

<h2 class="idea-detail-header">Idea detail</h2>
<hr>
<div class="idea-detail-body">

  {% if idea.image %}
    <div class="idea-image">
      <img src="{{ idea.image.url }}" alt="{{ idea.title }}">
    </div>
  {% endif %}

  
  
  <div class="idea-info">
    <h3 class="idea-title">{{ idea.title }}</h3>
    <p>
      <strong>개발툴:</strong>
      <a href="{% url 'myIdeas:devtool_read' idea.devtool.id %}" class="devtool-link">
        {{ idea.devtool.name }}
      </a>
    </p>

    <p>
      <strong>관심도:</strong> {{ idea.interest }}
    </p>

    <p>
      <strong>찜 여부:</strong>
      {% if is_starred %}
        <span>⭐ 찜함</span>
      {% else %}
        <span>☆ 찜 안 함</span>
      {% endif %}
    </p>
    

    <hr>

    <strong>아이디어 설명</strong>
    <div class="idea-content">
      
      {{ idea.content|linebreaks }}
    </div>

  </div>

  

</div>


<div class="bottom-links">
  <a href="{% url 'myIdeas:ideas_list' %}" class="back-link">
    ← 목록으로 돌아가기
  </a>

  <a href="{% url 'myIdeas:update' idea.id %}" class="edit-link">
    ✏️ 수정
  </a>

  <form action="{% url 'myIdeas:delete' idea.id %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="delete-link">
      🗑 삭제
      
    </button>
  </form>
</div>

{% endblock %}
